<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.utt.topuv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.utt.topuv.activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="fr.utt.topuv.activity.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="fr.utt.topuv.activity.UvActivity"
            android:label="@string/title_activity_uv"
            android:parentActivityName="fr.utt.topuv.activity.MenuActivity" >
        </activity>
        <activity
            android:name="fr.utt.topuv.activity.UvCommentActivity"
            android:label="@string/title_activity_uv_comment" 
            android:parentActivityName="fr.utt.topuv.activity.UvActivity" >>
        </activity>
    </application>

</manifest>
